<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myou.ec.ecsite.infrastructure.auth.mapper.AuthPasswordHistoryMapper">

    <insert id="insert" parameterType="com.myou.ec.ecsite.infrastructure.auth.record.AuthPasswordHistoryRecord"
            useGeneratedKeys="true" keyProperty="authPasswordHistoryId">
        INSERT INTO AUTH_PASSWORD_HISTORY (
            auth_account_id,
            password_hash,
            change_type,
            changed_at,
            operated_by,
            created_at,
            created_by
        ) VALUES (
                     #{authAccountId},
                     #{passwordHash},
                     #{changeType},
                     #{changedAt},
                     #{operatedBy},
                     #{createdAt},
                     #{createdBy}
                 )
    </insert>

    <select id="selectRecentByAccountId" resultType="com.myou.ec.ecsite.infrastructure.auth.record.AuthPasswordHistoryRecord">
        SELECT auth_password_history_id AS authPasswordHistoryId,
               auth_account_id          AS authAccountId,
               password_hash            AS passwordHash,
               change_type              AS changeType,
               changed_at               AS changedAt,
               operated_by              AS operatedBy,
               created_at               AS createdAt,
               created_by               AS createdBy
        FROM AUTH_PASSWORD_HISTORY
        WHERE auth_account_id = #{authAccountId}
        ORDER BY changed_at DESC
            LIMIT #{limit}
    </select>

    <select id="selectLatestByAccountId" resultType="com.myou.ec.ecsite.infrastructure.auth.record.AuthPasswordHistoryRecord">
        SELECT
            auth_password_history_id AS authPasswordHistoryId,
            auth_account_id          AS authAccountId,
            password_hash            AS passwordHash,
            change_type              AS changeType,
            changed_at               AS changedAt,
            operated_by              AS operatedBy,
            created_at               AS createdAt,
            created_by               AS createdBy
        FROM AUTH_PASSWORD_HISTORY
        WHERE auth_account_id = #{authAccountId}
        ORDER BY changed_at DESC
            LIMIT 1
    </select>
</mapper>
