<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myou.ec.ecsite.infrastructure.auth.mapper.AuthLoginHistoryMapper">

    <resultMap id="AuthLoginHistoryRecordMap" type="com.myou.ec.ecsite.infrastructure.auth.record.AuthLoginHistoryRecord">
        <id column="AUTH_LOGIN_HISTORY_ID" property="authLoginHistoryId"/>
        <result column="AUTH_ACCOUNT_ID" property="authAccountId"/>
        <result column="LOGIN_AT" property="loginAt"/>
        <result column="RESULT" property="result"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="CREATED_BY" property="createdBy"/>
    </resultMap>

    <insert id="insert" parameterType="com.myou.ec.ecsite.infrastructure.auth.record.AuthLoginHistoryRecord"
            useGeneratedKeys="true" keyProperty="authLoginHistoryId">
        INSERT INTO AUTH_LOGIN_HISTORY (
            AUTH_ACCOUNT_ID, LOGIN_AT, RESULT, CREATED_AT, CREATED_BY
        ) VALUES (
            #{authAccountId}, #{loginAt}, #{result}, #{createdAt}, #{createdBy}
        )
    </insert>

    <select id="findRecentByAccountId" resultMap="AuthLoginHistoryRecordMap">
        SELECT * FROM AUTH_LOGIN_HISTORY
        WHERE AUTH_ACCOUNT_ID = #{authAccountId}
        ORDER BY LOGIN_AT DESC
        LIMIT #{limit}
    </select>

    <select id="findPreviousSuccessLoginAtByAccountId" resultMap="AuthLoginHistoryRecordMap">
        SELECT * FROM AUTH_LOGIN_HISTORY
        WHERE AUTH_ACCOUNT_ID = #{authAccountId} AND RESULT = 'SUCCESS'
        ORDER BY LOGIN_AT DESC
        OFFSET 1 LIMIT 1
    </select>



</mapper>
