<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myou.ec.ecsite.infrastructure.auth.mapper.AuthAccountLockHistoryMapper">

    <insert id="insert" parameterType="com.myou.ec.ecsite.infrastructure.auth.record.AuthAccountLockHistoryRecord">
        INSERT INTO AUTH_ACCOUNT_LOCK_HISTORY (auth_account_id,
                                               locked,
                                               reason,
                                               occurred_at,
                                               operated_by,
                                               created_by)
        VALUES (#{authAccountId},
                #{locked},
                #{reason},
                #{occurredAt},
                #{operatedBy},
                #{createdBy})
    </insert>

    <select id="selectRecentByAccountId"
            resultType="com.myou.ec.ecsite.infrastructure.auth.record.AuthAccountLockHistoryRecord">
        SELECT auth_account_lock_history_id AS authAccountLockHistoryId,
               auth_account_id              AS authAccountId,
               locked,
               reason,
               occurred_at                  AS occurredAt,
               operated_by                  AS operatedBy,
               created_at                   AS createdAt,
               created_by                   AS createdBy
        FROM AUTH_ACCOUNT_LOCK_HISTORY
        WHERE auth_account_id = #{authAccountId}
        ORDER BY occurred_at DESC
            LIMIT #{limit}
    </select>

</mapper>
