<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myou.ec.ecsite.infrastructure.auth.mapper.AuthPasswordHistoryMapper">

    <resultMap id="AuthPasswordHistoryRecordMap" type="com.myou.ec.ecsite.infrastructure.auth.record.AuthPasswordHistoryRecord">
        <id column="AUTH_PASSWORD_HISTORY_ID" property="authPasswordHistoryId"/>
        <result column="AUTH_USER_ID" property="authUserId"/>
        <result column="LOGIN_PASSWORD" property="loginPassword"/>
        <result column="CHANGE_TYPE" property="changeType"/>
        <result column="CHANGED_AT" property="changedAt"/>
        <result column="CHANGED_BY" property="changedBy"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="CREATED_BY" property="createdBy"/>
    </resultMap>

    <insert id="insert" parameterType="com.myou.ec.ecsite.infrastructure.auth.record.AuthPasswordHistoryRecord"
            useGeneratedKeys="true" keyProperty="authPasswordHistoryId">
        INSERT INTO AUTH_PASSWORD_HISTORY (
            AUTH_USER_ID, LOGIN_PASSWORD, CHANGE_TYPE, CHANGED_AT, CHANGED_BY_LOGIN_ID, CREATED_AT, CREATED_BY
        ) VALUES (
            #{authUserId}, #{loginPassword}, #{changeType}, #{changedAt}, #{changedBy}, #{createdAt}, #{createdBy}
        )
    </insert>

    <select id="findRecentByUserId" resultMap="AuthPasswordHistoryRecordMap">
        SELECT * FROM AUTH_PASSWORD_HISTORY
        WHERE AUTH_USER_ID = #{authUserId}
        ORDER BY CHANGED_AT DESC
        LIMIT #{limit}
    </select>

    <select id="findLastByUserId" resultMap="AuthPasswordHistoryRecordMap">
        SELECT * FROM AUTH_PASSWORD_HISTORY
        WHERE AUTH_USER_ID = #{authUserId}
        ORDER BY CHANGED_AT DESC
        LIMIT 1
    </select>
</mapper>
