spring:
  application:
    name: ec-site
  config:
    import:
      - optional:configserver:http://config-server:8888
  cloud:
    compatibility-verifier.enabled: false
    config:
      name: application
    bus:
      enabled: false
  sql:
    init:
      schema-locations:
        - classpath:schema.sql
      data-locations:
        - classpath:test-data.sql

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testDB
    name: sa

  h2:
    console:
      enabled: true

management:
  endpoints.web.exposure.include: "*"
  endpoint:
    health.show-details: always
    env.show-values: ALWAYS

logging:
  level:
    root: info
    web: info
    sql: info
    org.apache.hc.client5.http: debug

  file:
    name: "./log/application-${spring.application.name}.log"
  structured:
    format:
      file: ecs
    json:
      customizer: com.myou.ec.ecsite.custom.StructuredLoggingCustomizer
#  logback:
#    rollingpolicy:
#      file-name-pattern: "./log/application-${spring.application.name}.%d{yyyy-MM-dd}.log"


logback.access:
  enabled: true
  tomcat:
    request-attributes-enabled: true
