<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>common</pattern>
        </encoder>
    </appender>
    <appender-ref ref="console"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/access-${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/access-${appName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>clf</pattern>
        </encoder>
<!--        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">-->
<!--            <format>${FILE_LOG_STRUCTURED_FORMAT}</format>-->
<!--            <charset>${FILE_LOG_CHARSET}</charset>-->
<!--        </encoder>-->
    </appender>
    <appender-ref ref="FILE" />
</configuration>
